/* Colour Scheme https://coolors.co/ba1229-3e3d3d-c9f4b8-50a2a7-c9cfcb */

.PrimaryColour {
    color: #BA1229
}

.SecondaryColour {
    color: #3E3D3D
}

.TertiaryColour {
    color: #C9F4B8
}

.AccentColour1 {
    color: #50A2A7
}

.AccentColour2 {
    color: #C9CfCB
}

.A4 {
    display:block;
	margin-left: auto;
	margin-right: auto;
    width: 90%;
    /* border: 1px #3E3D3D solid; */
}

.Company_Logo {
    width:12em; 
    display:inline
}

.Header_Company_Logo {
    width:12em; 
    display:none
}

.Product_Logo {
    width:8em;
    display:inline-block;
    margin: 0;
    position: absolute;
    top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Banner {
    height:10em;
    position: relative;
}

.Report_Title {
    display:inline-block;
    margin: 0;
    position: absolute;
    top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

@keyframes hover_highlight{
	from {box-shadow: 0px 0px 0px gray;}
	to {box-shadow: 8px 8px 20px gray;}
}

.on_hover_highlight:hover{
	animation-name: hover_highlight;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.Print_Button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4em;
    height: 3.6em;
    border: 0em;
}

.Print_Spacing {
    display: static;
}

.Border1 {
    border: 1px #BA1229 solid;
}

.Border2 {
    border: 1px #C9CfCB solid;
}

.Section_Heading {
    background-color: #BA1229;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
}

.Section_Heading2 {
    background-color:#C9F4B8;
    text-align: center;
    font-size: 1.1em;

}

tr {
    height: 2em;
}

.Cell_Header {
    text-align: left;
    font-weight: bold;
}

.Cell_Body {
    text-align: left;
    font-weight: normal;
}


.List_Container {
    width: 49%;
    display:inline-block
}

.List_Item {
    display: block;
    margin-left: 0.5em;
}

.Plot_Container {
    width: 98%;
    border: 0;
    position: relative;
}

.Plot_SubContainer {
    margin: 0;
    margin-left:auto;
}


.Sub_Heading1 {
    background-color: #C9CfCB;
}

.Sub_Heading2 {
    background-color: rgb(230, 228, 228);
    text-align: center;
}

.Centered {
    display:block;
	margin-left: auto;
	margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    }
table td, table th {
        border: 2px solid #3E3D3D;
    }
/* table tr:first-child th {
    border-top: 0;
    } */
/* table tr:last-child td {
    border-bottom: 0;
    } */
/* table tr td:first-child, table tr th:first-child {
    border-left: 0;
    }
table tr td:last-child, table tr th:last-child {
    border-right: 0;
    } */

